body {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: auto;
  margin: 0 auto;
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 20px;
}
h1,
h2,
h3 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

.navbar {
  padding: 0;
}
.navbar-toggler {
  padding: 0;
  margin-right: 12px;
  font-size: 15px;
  color: #fff;
  border: none;
  border-radius: 1px;
}
.navbar-toggler-icon {
  background-image: url(https://i.pinimg.com/564x/ee/c0/71/eec071442e9a1b8e017c5a7c1853b880.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}
.text-shadow {
  text-shadow: #000 0px 0px 5px;
}

.teal {
  color: #fff !important;
  background-color: #009688 !important;
}

.button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.tag {
  background-color: #fe4242;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}
.badge {
  background-color: #000;
  border-radius: 50%;
}
.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

.input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px;
}

.bar .bar-item {
  padding: 12px 24px;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}

.bar-item {
  width: 100%;
  display: block;
  margin: 0;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}

.content {
  margin-left: auto;
  margin-right: auto;
}

.content {
  max-width: 980px;
}

@media (max-width: 600px) {
  .modal-content {
    width: auto;
  }
  .modal {
    padding-top: 30px;
  }
}

@media (max-width: 768px) {
  .modal-content {
    width: 500px;
  }
  .modal {
    padding-top: 50px;
  }
}

.display-topleft {
  position: absolute;
  left: 0;
  top: 0;
}

.display-topright {
  position: absolute;
  right: 0;
  top: 0;
}

.display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0;
}

.display-bottomright {
  position: absolute;
  right: 0;
  bottom: 0;
}

.row-padding,
.row-padding > .half,
.row-padding > .third,
.row-padding > .twothird,
.row-padding > .threequarter,
.row-padding > .quarter,
.row-padding > .col {
  padding: 0 8px;
}
.opacity,
.hover-opacity:hover {
  opacity: 0.6;
}

.greyscale-min,
.grayscale-min {
  filter: grayscale(50%);
}

.large {
  font-size: 18px;
}

.xlarge {
  font-size: 24px;
}

.justify {
  text-align: justify;
}

.center {
  text-align: center;
}

.section {
  margin-top: 16px;
  margin-bottom: 16px;
}

.margin-top {
  margin-top: 16px;
}

.margin-bottom {
  margin-bottom: 16px;
}

.margin-left {
  margin-left: 16px;
}

.margin-right {
  margin-right: 16px;
}

.padding {
  padding: 8px 16px;
}

.padding-large {
  padding: 12px 24px;
}

.padding-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.padding-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.button:hover {
  color: #000;
  background-color: #ccc;
}

.white,
.hover-white:hover {
  color: #000;
  background-color: #fff;
}
.black,
.hover-black:hover {
  color: #fff;
  background-color: #000;
}
